.main-container {
  margin-left: 350px;
  margin-top: 20px;
}

.modal-dialog {
  margin-left: 500px;
  margin-top: 10px;
}

.row {
  margin-left: 405px;
  margin-right: -385px;
}

.btn {
  background-color: #5b5fc7 !important;
  transition: background-color 0.3s ease; 
}
.btn1 {
  background-color: #5b5fc7 !important;
  transition: background-color 0.3s ease; 
}

.text-success {
  margin-left: 410px;
}

.successpopup {
  width: 58%;
  margin-left: 350px !important;
}


