/* body {
  background-color: #282c34;
  color: #134b5f;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  
} */

body {
  display: flex;
  justify-content: center !important; /* Horizontally center the content */
  align-items: center !important; /* Vertically center the content */
  /* Add other CSS properties as needed */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  padding: "10px" !important;
}
.submit-btn {
  background-color: #5d8695;
  margin-top: 10px;
  color: white;
}
.main-container {
  margin-left: -70px;
}

/* Dynamic365Entity.css */

.search-container {
  margin-left: 190px;
  margin-top: -20px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 680px; 
  padding: 8px; 
  border-radius: 50%;
  color: lightgray;
}

.search-input {
  margin-left: -130px;
  margin-top: 30px;
  width: 850px;
}

.handle-search {
  display: flex;
  align-items: center;
}

.form-control {
  padding-right: 30px; /* Adjust the padding to make space for the icon */
  background-size: 20px; /* Adjust the size of the icon */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust the position of the icon within the input */
}

.results-container {
  width: 850px;
  margin-left: -130px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.table-container {
  width: 850px;
  margin: 15px auto;
  background-color: white;
  border-radius: 5px;
}

.sticky-header {
  margin-left: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #f2f2f2;
}

.edit-input {
  width:170px;
}

.link2-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: -2px;
  padding-top: 4px;
  margin-right: 50px;
}

.edit-icons-container {
  display: flex;
  justify-content: center;
}

.edit-icon {
  margin-right: 25px;
  margin-top: 2px;
}
/* .edit-input {
  width: 97px;
} */

.delete-icon {
  margin-top: 2px;
}

.spinner {
  margin-top: 260px;
}

.invalid-feedback {
    font-size: 13px;
    margin-left: 1px;
 }

 /* InstructionProject CSS */

 .tableStyle{
  
 }

 /* Annuities CSS */

 .thTdStyle{
  padding: 8px;
  border: 1px solid lightgray;
  background-color:lightgray!important;
  text-align: center;
 }
 .thTdStyle2{
  padding: 8px;
  border: 1px solid lightgray;
  text-align: center;
 }

 /* AnnuitiesClientInstruction CSS */
 .table-border {
  border: 1px solid #dcdcdc;
}

/* Light gray background color for the table rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

/* Style for table header cells */
.table-border th {
  background-color: lightgray; 
  border: 1px solid grey;/* Light gray background for header cells */
}

/* Style for table body cells */
.table-border td {
  border: 1px solid #dcdcdc; /* Light gray border for cells */
}

/* Add some padding to the cells for better appearance */
.table-border th, .table-border td {
  padding: 8px;
}


/* AddAnnuities */
.table-striped{
  margin-top:10px;
}

  .addentry{
    margin-top: 10px;
  }

  .backbutton{
    margin-left: -20px;
}


/* Light gray border for the table */
.SuperResponsiveTable {
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

/* Light gray background color for the table rows */
.SuperResponsiveTable tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa;
}

/* Style for table header cells */
.SuperResponsiveTable th {
  background-color: #f8f9fa; /* Light gray background for header cells */
}

/* Style for table body cells */
.SuperResponsiveTable td {
  border: 1px solid #dcdcdc; /* Light gray border for cells */
}

/* Add some padding to the cells for better appearance */
.SuperResponsiveTable th, .SuperResponsiveTable td {
  padding: 8px;
}

/* instructionProject Css */

.tablestyle{
  background-color: white;
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-left: 450px;
}

.thstyle{

  background-color: lightgray!important;
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.thTdstyle{
  padding: 8px;
  border: 0px solid lightgray;
}

.cellstyle{
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.handle-search{
margin-top: 10px;
}

.search-icon{
  margin-left: 300px;
}

.react-datepicker__calendar-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-left: 188px;
  margin-top: 5px;
}

.inpts{
  width: 218px;
}


/* date inputs padding */
.react-datepicker__view-calendar-icon input {
  padding: 6px 1px 6px 8px;
}




@media only screen and (max-width: 600px) {

  body {
    overflow-x: show;
    overflow-y: show;
    margin: 20px!important;
    
  }
  /* .spinner {
    margin-left: 10px!important;
    margin-top: 220px;
  } */
  .form-control {
    display: block;
    font-size: 10px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
  }
  .col {
    width: 46% !important;
    margin-top: 10px;
  }
  .row {
    display: block;
    margin-right: 17px !important;
  }
  .search-control {
    width: 49% !important;
    margin-left: -9px;
  }
  .search-icon {
    position: absolute;
    top: 7%;
    right: 43%; /* Adjust the positioning as needed */
    transform: translateY(-50%);
    color: lightgray;
  }
  .form-control2 {
    width: 252px !important;
    margin-left: -9px 
  }
  .btn {
    margin-top: 10px !important;
    width: 250px;
    height: 31px;
  }

  /* img,
  svg {
    vertical-align: middle;
    margin-top: -3px;
  } */
  .table {
    width: 238px !important;
    font-size: 11px;
  }
  .heading {
    font-size: 11px !important;
  }
  .results-container {
    width: 350px !important;
    margin-left: 56px !important;
  }
  .sticky-header {
    font-size: 10px !important;
  }
  .user-td {
    font-size: 12px;
  }
  /* .edit-icon {
    margin-right: 9px !important;
  } */
  .successpopup {
    font-size: 11px;
    width: 223px !important;
    margin-left: 10px;
  }

  .table-container {
    /* Add your styles for small screens here */
    overflow-x: auto;
    margin-left: 92px;
  }

  .table-container th,
  .table-container td {
    /* Add your styles for table headers and cells on small screens here */
    white-space: nowrap;
    font-size: 12px;
    padding: 4px;
  }

  /* link */
  /* img,
  svg {
    vertical-align: middle;
    margin-bottom: 7px;
    height: 15px;
    margin-left: -10px;
  } */

  /* .edit-icon {
    margin-right: 9px !important;
    margin-right: 50px !important;
    height: 15px;
  } */

  .delete-icon {
    margin-top: 2px;
    margin-left: -29px;
    height: 15px;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 98vw;
    height: 100vh;
    background-color: #000;
    margin: 0px;
  }
  .modal-content {
    position: relative;
    top: 66px;
    display: flex;
    flex-direction: column;
    width: 250px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: -1;
    margin-left: -495px;
    font-size: 10px;
  }
  /* .search-icon{
   margin-left: -16rem;
   margin-top: 1px;
  } */
  .invalid-feedback {
    font-size: 11px;
  }

  .table>:not(caption)>*>* {
    font-size: 13px;
   }
  /* .table-striped{
    margin-left: -2%;
  } */

  .heading{
    font-size: 12px!important;
  }

/* Annuities REsponsive CSS Property */

.table-striped{
  margin-left:-103px;
  width: 52%;
  font-size: 13px;
  margin-top: 10px;
}
.h4, h4 {
  font-size: calc(1.275rem + .3vw);
  margin-left: -103px;
  font-size: 13px;
}

/* instructionProject Css */

.tablestyle{
  background-color: white;
  width: 26%;
  margin-left: 345px;
  font-size: 12px;
}

.thstyle{

  background-color: lightgray;
  padding: 8px;
}

.thTdstyle{
  padding: 8px;
}

/* AddAnnuities Responsive CSS property */
.addannuities{
  margin-left: 301px;
  width: 30%;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: -81px;
}


/* AnnuitiesClientInx rcss */
.annuities-client-inx{
  margin-left:301px;
  width: calc(30% - 1px)!important;
}

.table>:not(caption)>*>* {
  font-size: 12px;
}

/* edit and delete icon css  */
img, svg {
  vertical-align: middle;
  margin-left: -15px;
  
}

.backbutton{
  margin-left: px!important;
  margin-top: 30px;
  font-size: 12px!important;
}
element.style {
  display: flex;
  align-items: center;
  padding: 11px;
  margin-left: 837px;
  margin-bottom: -100px;
  color: blue;
  font-size: 12px;
}

.btn-success{
  margin-left: -135px;
}

.add-button{
  margin-left: 50px;
}

.hdng{
  font-weight: bold;
  margin-left: -105px;
  font-size: 13px!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-left:305px;
  font-size: 13px!important;
  margin-top: 25px!important;
}

.form-control {
  display: block;
  font-size: 12px !important;
  font-weight: 600;
  line-height: 2;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  margin-left: 301px;
  width: 30%!important;
  margin-top: 0px;
}

.search-icon{
  position: fixed;
  left: 200px;
  /* margin-top: 435px;
  margin-left: -440px; */
}

.backbutton{
margin-left: -400px!important;
margin-bottom: 23px;

}

/* ProjectInstruction Css */
.hding{
  margin-left: 304px!important;
}

.addentryicn{
  margin-left: 10px!important;
  margin-top: -8px!important;
}

.addentry{
width: 100px;
margin-left: -55px;
}

.labelnm{
  position: absolute;
  left: 53px;
  bottom: 32px;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-left: -81px;
  margin-top: 20px;
}
.react-datepicker__navigation--previous {
  left: 108px;
  margin-top: 1px;
}

.react-datepicker__navigation-icon--next::before {
  position: fixed;
  left: 190px;
  top: 14px;
}

 }
