/* body {
  background-color: #282c34;
  color: #134b5f;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  
} */

body {
  display: flex;
  justify-content: center !important; /* Horizontally center the content */
  align-items: center !important; /* Vertically center the content */
  /* Add other CSS properties as needed */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
  padding: "10px" !important;
}
.submit-btn {
  background-color: #5d8695;
  margin-top: 10px;
  color: white;
}
.main-container {
  margin-left: -70px;
}

/* Dynamic365Entity.css */

.search-container {
  margin-left: 190px;
  margin-top: -20px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 970px; 
  padding: 8px; 
  border-radius: 50%;
  color: lightgray;
}

.search-input {
  margin-left: -130px;
  margin-top: 30px;
  width: 850px;
}

.handle-search {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form-control {
  padding-right: 30px; /* Adjust the padding to make space for the icon */
  background-size: 20px; /* Adjust the size of the icon */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust the position of the icon within the input */
}

.results-container {
  width: 950px;
  margin-left: -0px;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.table-container {
  width: 850px;
  margin: 15px auto;
  background-color: white;
  border-radius: 5px;
}

.sticky-header {
  margin-left: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #f2f2f2;
}

.edit-input {
  width:170px;
}

.link2-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: -2px;
  padding-top: 4px;
  margin-right: 50px;
}

.edit-icons-container {
  display: flex;
  justify-content: center;
}

.edit-icon {
  margin-right: 25px;
  margin-top: 2px;
}
/* .edit-input {
  width: 97px;
} */

/* .delete-icon {
  margin-top: 2px;
} */

.spinner {
  margin-top: 260px;
}

.invalid-feedback {
    font-size: 13px;
    margin-left: 1px;
 }

 /* InstructionProject CSS */

 .tableStyle{
  
 }

 /* Annuities CSS */

 .hdng{
  margin-left: 100px;

 }

 .thTdStyle{
  padding: 8px;
  border: 1px solid lightgray;
  background-color:lightgray!important;
  text-align: center;
 }
 .thTdStyle2{
  padding: 8px;
  border: 1px solid lightgray;
  text-align: center;
 }

 /* AnnuitiesClientInstruction CSS */
 .table-border {
  border: 1px solid #dcdcdc;
}

/* Light gray background color for the table rows */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: white;
}

/* Style for table header cells */
.table-border th {
  background-color: lightgray; 
  border: 1px solid grey;/* Light gray background for header cells */
}

/* Style for table body cells */
.table-border td {
  border: 1px solid #dcdcdc; /* Light gray border for cells */
}

/* Add some padding to the cells for better appearance */
.table-border th, .table-border td {
  padding: 8px;
}




/* instructionProject Css */

.tablestyle{
  background-color: white;
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-left: 450px;
}

.thstyle{

  background-color: lightgray!important;
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.thTdstyle{
  padding: 8px;
  border: 0px solid lightgray;
}

.cellstyle{
  padding: 8px;
  border-bottom: 1px solid lightgray;
}





/* date inputs padding */
.react-datepicker__view-calendar-icon input {
  padding: 6px 1px 6px 8px;
}

/* model */


/* Annuities CSS */

.thTdStyle{
  padding: 8px;
  border: 1px solid lightgray;
  background-color:lightgray!important;
  text-align: center;
 }
 .thTdStyle2{
  padding: 8px;
  border: 1px solid lightgray;
  text-align: center;
 }

 .refresh-button{
  margin-left: 250px;
  color: #5b5fc7;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

 }

 .refresh-button:hover{
  background-color: #5b5fc7; /* lighter color on hover */
  color: white;
 }

 /* Patents Table CSS */
 .card-container {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none!important;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0; /* Add margin for spacing between cards */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%; /* Ensure each card takes up the full width of its container */
  font-size: 15px!important;
}

.card h3 {
  margin-top: 0;
  font-size: 15px!important;
  /* text-decoration: none; */
  }

  .link{
    text-decoration: none;
    color: black!important;
  }

  .link :hover::before{
    color:black!important;
  }

  .card p {
  margin-bottom: 5px;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background-color: #0056b3;
}

/* for Annuities CSS */
/* .hdng{
   margin-left: 450px;
    margin-top: 20px;
    width: 520px ;
    font-size: 20px ;
} */




@media only screen and (max-width: 600px) {


  .fk0ktpv {
    padding-left: 0rem;
}

.f1j5qnyn {
  padding-top: 0rem;
}

  body {
    overflow-x: none;
    overflow-y: none;
    margin: 20px!important;
    
  }

/* Annuities CSS Media Query */
.card {
  width: 260px;
  left:-65px;
  font-size: 13px !important;
  margin-top: 1px !important;
}

.h1, .h2, .h3, .h4, .h6, h1, h2, h3, h4, h5, h6 {
  margin-left: 1px!important;
  font-size: 13px !important;
  }

.form-control {
  display: block;
  font-size: 12px !important;
  font-weight: 600;
  line-height: 2;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  margin-left: 0px;
  width: 100% !important;
  margin-top: 0px;
}

img, svg {
  vertical-align: middle;
  margin-left: -1px;
}
.card {
   margin-right: 257px!important;
  font-size: 13px !important;
  margin-top: 1px !important;
}

.spinner {
  margin-top: 200px;
  margin-left: 50px;
}


 }
